/* style.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ebf5ee;
    min-height: 100vh;
  
  /* Set the background image */
  background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  background-color: rgba(252, 253, 253, 0.79);
  padding: 34px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width:400px;
  width: 100%;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.image {
  width: 100%;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.checkbox-container input {
  margin-right: 10px;
}

.btn-primary {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 10px 10px 10px 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}
